body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  padding-top: 50px;
  min-height: 100vh; /* Use vh for full viewport height */
  background-image: url('./image/exoplanets_copy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.task-input {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.8);
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.task-list {
  list-style-type: none;
  padding: 0;
  width: 50%;
  margin: auto;
}

li {
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}


